{
  "extends": [
    "eslint:recommended",
    "plugin:vue/essential",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "plugins": ["vue", "prettier"],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module",
    "allowImportExportEverywhere": false
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "no-console": "off"
  }
}
