@import url('https://use.typekit.net/hxt6ogm.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  color: inherit;
}
body {
  padding: 0;
  margin: 0;
}
#app {
  position: relative;
  background-color: #ee3d7f;
  color: white;
  font-size: 16px;
  font-family: 'filson-soft', sans-serif;
  background: linear-gradient(
    #ee3d7f,
    #f3693d 100vh,
    #f5981d 200vh,
    #f3be1d 300vh,
    #b6c62e 400vh,
    #5bb963 500vh,
    #0099ad 600vh
  );
}
h1 {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
  line-height: 58px;
  font-weight: bold;
}
.page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: relative;
  & h1 {
    width: 66.5625%;
  }
}
.foot {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: relative;
  overflow: hidden;
}
#particles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.navbar {
  position: fixed;
  top: 50px;
  bottom: 50px;
  right: 5.8125%;
  width: 1em;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  & a {
    text-decoration: none;
    &.active,
    &:hover {
      font-weight: bold;
    }
  }
}
.sitehelp {
  position: fixed;
  font-size: 18px;
  font-weight: bold;
  left: 50px;
  bottom: 0;
  padding: 13px 24px 11px;
  text-decoration: none;
  border: 2px solid;
  border-bottom: none;
  color: #ffffff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  & .logo-button {
    position: fixed;
    top: 45px;
    left: 45px;
    width: 218px;
    display: block;
    height: 90px;
  }
  & .logo-b {
    position: fixed;
    top: 21.888888889%;
    width: 79px;
    left: 50%;
    transform: translateX(-50%);
  }
  & .logo-border {
    position: fixed;
    top: 60.47px;
    left: 107.63px;
    height: 0;
  }
  & .logo-text {
    position: fixed;
    top: 33.965555556%;
    width: 164px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.mousey {
  position: fixed;
  bottom: 36px;
  left: calc(50% - 24px);
  display: flex;
  flex-direction: column;
  align-items: center;
  & .mouse {
    margin-bottom: 5px;
  }
  & .chevron {
    margin-bottom: 2px;
    animation: point-down 0.5s ease-in-out infinite alternate;
  }
}

@keyframes point-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(3px);
  }
}
