@import url('https://use.typekit.net/hxt6ogm.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  color: inherit;
}
body {
  padding: 0;
  margin: 0;
}
#app {
  position: relative;
  background-color: #ee3d7f;
  color: white;
  font-size: 16px;
  font-family: 'filson-soft', sans-serif;
  background: linear-gradient(
    #ee3d7f,
    #f3693d 100vh,
    #f5981d 200vh,
    #f3be1d 300vh,
    #b6c62e 400vh,
    #5bb963 500vh,
    #0099ad 600vh
  );
}
h1 {
  padding: 0;
  margin: 0.5em auto 0.5em;
  text-align: center;
  font-size: 50px;
  line-height: 58px;
  font-weight: bold;
}
h2 {
  padding: 0;
  margin: 0.5em auto 0.5em;
  text-align: center;
  font-size: 30px;
  line-height: 29px;
}
p {
  padding: 0;
  margin: 0.5em auto 0.5em;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
}
.page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: relative;
  & h1,
  & h2,
  & p {
    max-width: 66.5625%;
  }
}

.sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 20px;
  width: 1264px;
  max-width: 66.5625%;

  & .section {
    display: flex;
    min-width: 180px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 263px;
  }
  & .button {
    font-size: 16px;
    min-width: 160px;
    margin: auto 0 0;
    padding: 7px;
  }
}

.foot {
  width: 100%;
  padding: 80px;
  font-size: 13px;
  line-height: 16px;
  z-index: 0;
  position: relative;
  overflow: hidden;
  & p {
    font-size: 13px;
    line-height: 16px;
  }
}
#particles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.navbar {
  position: fixed;
  top: 50px;
  bottom: 50px;
  right: 5.8125%;
  width: 1em;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  & a {
    text-decoration: none;
    &.active,
    &:hover {
      font-weight: bold;
    }
  }
}
.button-group {
}

.button {
  display: inline-flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  min-width: 210px;
  margin: 0 15px;
  padding: 13px 24px;
  color: #ffffff;
  border: 2px solid;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 40px;
  &:active {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
.sitehelp {
  position: fixed;
  font-size: 18px;
  font-weight: bold;
  left: 50px;
  bottom: 0;
  padding: 13px 24px 11px;
  text-decoration: none;
  border: 2px solid;
  border-bottom: none;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.07);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: 0.5s;
  &:hover {
    padding-bottom: 16px;
  }
  &:active {
    background-color: rgba(255, 255, 255, 0.2);
  }
  &.slide-in-enter-active {
    transform: translateY(50px);
  }
}
.logo {
  align-items: center;
  justify-content: space-between;
  &.logo-nav {
    display: flex;
    position: fixed;
    width: 210px;
    top: 60px;
    left: 50px;
    & .logo-b {
      width: 47px;
      height: 59px;
    }
    & .logo-text {
      width: 134px;
      height: 59px;
    }
  }
  &.logo-main {
    display: flex;
    flex-direction: column;
    height: 183px;
    & .logo-border {
      display: none;
    }
  }
}

.mousey {
  position: fixed;
  bottom: 20px;
  left: calc(50% - 24px);
  display: flex;
  flex-direction: column;
  align-items: center;
  & .mouse {
    margin-bottom: 5px;
  }
  & .chevrons {
    display: flex;
    flex-direction: column;
    height: 41px;
    overflow: hidden;
  }
  & .chevron {
    margin-bottom: 2px;
    animation: scroll-around linear 1s infinite;
  }
}
@keyframes scroll-around {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(30px);
  }
}
